* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    padding: 50px;
  }
  .container1 {
    height: 250px;
    width: 250px;
    background-color: green;
    position: relative;
  }
  .container2 {
    height: 200px;
    width: 200px;
    background-color: purple;
    position: absolute;
  }
  .container3 {
    height: 150px;
    width: 150px;
    background-color: tomato;
    position: absolute;
  }
  .container4 {
    height: 100px;
    width: 100px;
    background-color: gold;
    position: absolute;
  }
  .container5 {
    height: 50px;
    width: 50px;
    background-color: orangered;
    position: absolute;
  }
  .huella {
    height: 250px;
    width: 250px;
    border: 1px dashed black;
    position: absolute;
  }

.c1, .c2{
  height: 490px;
}
.c1 .container2{
  top: 250px;
  right: 0;
}
.c1 .container3{
  left: 200px;
}
.c1 .container4{
  top: -100px;
}
.c1 .container5{
  bottom: 0;
  left: -50px;
}

.c2 .container2, .c2 .container3,.c2 .container4, .c2 .container5{
  transform: translate(25px, 25px);
}