.link{
    text-decoration: none;
}

/*Pseudoclase hover*/
.link:hover{
    color: red;
    font-size: 25px;
}

ul li{
    display: inline;
}

li{
    list-style: none;
}

ul li, ol li{
    color: brown;
}