/*estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    padding: 20px 100px;
}
h1 {
    margin: 30px 0;
}
h2 {
    margin: 60px 0 10px 0;
}
.box {
    width: 100px;
    margin: 20px 20px 20px 0;
    height: 100px;
    display: inline-block;
    padding-top: 20px;
    text-align: center;
    background: #7decec;
}
/*gradientes*/
/*pseudo-clase first-child*/
.gradients .box-ctn div:first-child {
    background-image: linear-gradient( 90deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
}
.gradients .box-ctn .linear-grad {
    background-image: linear-gradient( 0deg,  rgba(255,7,7,1) -4.5%, rgba(255,255,5,1) 98.8% );
}
/*pseudo-clase last-child*/
.gradients .box-ctn div:last-child {
    background-image: radial-gradient( circle at 50% 50%,  rgba(0,226,192,1) 0.5%, rgba(149,0,248,1) 100% );
}
/*pseudo-elementos before y after*/
.pseudo-elementos .text {
    width: 500px;
}
.pseudo-elementos .text::before {
    font-weight: bold;
    color: red;
    content: '10/02/2020 (fecha colocada al inicio del texto con before) ';
}
.pseudo-elementos .text::after {
    font-weight: bold;
    color: red;
    content: ' by John Doe (firma colocada al final del texto con after) ';
}
.pseudo-elementos .hover {
    padding: 10px 20px;
    background: #7decec;
    border-radius: 5px;
    border: 2px solid #000;
}
.pseudo-elementos .hover:hover {
    outline: 0;
    background: #4ee2e2;
    border: 2px dotted #000;
}
/*agregamos el cursos de mano para indicar acción*/
.cursor{
	cursor:pointer;
}

/*z-index*/
.z-index h3 {
    padding: 50px 0 20px 0;
}
.z-index .second-box {
    background-color: red;
    transform: translate(-80px, 40px);
}

.z-index .third-box {
    position: relative;
    z-index: 1;
}
.z-index .fourth-box {
    background-color: red;
    transform: translate(-80px, 40px);
}
.z-index .third-box:hover {
    z-index: -1;
}
.z-index .fourth-box:hover {
    z-index: 1;
}
.z-index .six-box {
    background-color: rgb(0, 255, 106);
    transform: translate(-80px, 40px);
    position: relative;
    z-index: 1;
    cursor: pointer;
}

@keyframes img-up {
    0% {z-index: 0;width: 10px; height: 10px;}
    100% {z-index: -2;}
}
.z-index .six-box:hover{
    animation: img-up 5s ease;
}
/*transform*/
.transform h3 {
    padding: 50px 0;
}
.transform .translate-x {
    transform: translateX(50px);
}
.transform .translate-y {
    transform: translateY(50px);
}
.transform .translate {
    transform: translate(50px, 50px);
}
.transform .translate2 {
    transform: translate(-50px, -50px);
}
.transform .scale {
    transform: scale(2,2);
}
.transform .scale2 {
    transform: scale(0.5,0.5);
}
.transform .rotate {
    transform: rotate(45deg);
}
.transform .skew {
    transform: skew(20deg, 0);
}
.transform .skew2 {
    transform: skew(0, 20deg);
}
.transform .skew3 {
    transform: skew(20deg, 20deg);
}

/*animation*/
.animation-transition h3 {
    padding: 50px 0;
}
.animation-transition .box {
    transition: all .2s ease;
    -webkit-transition: all .9s ease;
    -moz-transition: all .5s ease;
}
.animation-transition .translate:hover {
    transform: translate(50px, 50px);
}
.animation-transition .translate2:hover {
    transform: translate(-50px, -50px);
}
.animation-transition .scale:hover {
    transform: scale(2,2);
}
.animation-transition .scale2:hover {
    transform: scale(0.5,0.5);
}
.animation-transition .rotate:hover {
    transform: rotate(45deg);
}
.animation-transition .skew:hover {
    transform: skew(20deg, 0);
}
.animation-transition .skew2:hover {
    transform: skew(0, 20deg);
}
.animation-transition .skew3:hover {
    transform: skew(20deg, 20deg);
}

/*curva de velocidad*/
.animation-velocity:hover .box {
    transform: translateX(400px);
}
.animation-velocity .anim-ease {
    transition: all 1s ease;
}
.animation-velocity .anim-linear {
    transition: all 1s linear;
}
.animation-velocity .anim-ease-in {
    transition: all 1s ease-in;
}
.animation-velocity .anim-ease-out {
    transition: all 1s ease-out;
}
.animation-velocity .anim-ease-in-out {
    transition: all 1s ease-in-out;
}

/*keyframes*/
/*@keyframes colors {*/
@keyframes los-colores {
    0% {background: #7dec95;}
    10%{width: 200px;}
    25% {background: #f83319; width: 150px;}
    50% {background: #fff; width: 200px;}
    75% {background: #bec1e7; width: 150px;}
    100% {background: #000102; width: 100px;}
}

/*.animation-keyframes .colors{*/
/*.otra{*/
#magaly{
    /*animation-name: colors;*/
    animation-name: los-colores;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.otra{border:solid 5px;}
@keyframes movimiento {
    0% {transform: translate(0px,0px);}
    50% {transform: translate(500px,500px);}
    100% {transform: translate(0px,0px);}
}
@keyframes movimiento-negativo {
    0% {transform: translateX(0px);}
    50% {transform: translateX(-50px);}
    75%{transform: translateX(500px);}
    100% {transform: translateX(10px);}
}

/*.animation-keyframes .movement:hover{*/
.animation-keyframes .movement{
    /*lo mismo que se puso en la caja anterior pero abreviado a una linea*/
    /*animation: movimiento 3s ease infinite;*/
    animation: movimiento 3s ease infinite; /*Declaración de la animación en una sola regla*/
    cursor: pointer;
}

.animation-keyframes .movement-color{
    /*dos animaciones al mismo tiempo separandolas con coma*/
    /*animation-name: colors, movement;*/
    animation-name: los-colores, movimiento-negativo; /*declaración de la animación en multiples reglas*/
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.fuentes{
  font-family: 'Chelsea Market', cursive;
  /*font-family: 'Roboto', sans-serif;*/
}
.roboto-light{
  font-weight: 400;
}
.roboto-medium{
  font-weight: 500;
}
.roboto-bold{
  font-weight: 700;
}
h3{
	 font-family: 'Chelsea Market';
}
h4{
	 font-family: 'Roboto';
}


