*{
    font-size: x-small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    margin: 20px;
    border: 1px solid red;
    padding: 10px;
    width: 200px;    
    height: 200px;
}

#border-box{
    box-sizing: border-box;
}